@(message: String, yourEmailVariable: String)

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Name | Portfolio</title>
    <script src="https://kit.fontawesome.com/8513838d6f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/index.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/sidebar.css")">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky d-flex flex-column sidebar-container">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#home-section">
                            <i class="fas fa-user sidebaricon"></i> About Me
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#exp-section">
                            <i class="fas fa-briefcase sidebaricon"></i> Experience
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#edu-section">
                            <i class="fas fa-graduation-cap sidebaricon"></i> Education
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skill-section">
                            <i class="fas fa-code sidebaricon"></i> Skills
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#cp-section">
                            <i class="fas fa-laptop-code sidebaricon"></i> Coding Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects-section">
                            <i class="fas fa-folder-open sidebaricon"></i> Projects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sociallinks-section">
                            <i class="fas fa-share-alt sidebaricon"></i> Social Links
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact-section">
                            <i class="fas fa-envelope sidebaricon"></i> Contact
                        </a>
                    </li>
                </ul>

                <button class="btn btn-primary mt-auto position-fixed" style="bottom: 0; width: 97%; left: 50%; transform: translateX(-50%); background-color: #ab0796; color: white; outline: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" onclick="window.open('https://drive.google.com/file/d/16OCGjdC6bEtKqv-E6nAQ8EiF3ct05stx/view?usp=drive_link', '_blank');">Download Resume</button>
            </div>
        </nav>

        <!-- Content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <!-- Welcome, Section -->
            <section id="welcome-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="title">Welcome to My Portfolio</h1>
                            <p class="subtitle hello">Hello, My name is <span><strong class="nametag"><u>Abhishek Bansal</u></strong></span></p>
                        </div>
                        <div class="col-md-6">
                            <div class="wave-wrapper">
                                <div class="wave"></div>
                                <div class="wave"></div>
                                <div class="wave"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Home Section -->
            <section id="home-section" class="animated-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title">About Me</h1>
                            <p class="subtitle text-align-justify">Versatile computer scientist skilled in Android, Flutter, and web
                                development. Proficient in Java, Dart, JavaScript, scala, play and Kotlin. Strong problem-solving
                                and teamwork abilities. Committed to continuous learning and driving innovation in
                                Computer Science Engineering.</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Experience Section -->
            <section id="exp-section" class="animated-section ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 center-align">
                            <h1 class="title">Experience</h1>
                            <div class="timeline">
                                <div class="timeline-box left ">
                                    <div class="timeline-container">
                                        <h3 class="subtitle"> Software Engineer Trainee </h3>
                                        <h4 class="institute-name "> Thought Genesis (Apple Maps) </h4>
                                        <h5 class="edu-duration"> Nov 2023 - Present </h5>
                                        <p class="edu-description text-align-justify"> Currently pursuing training in Scala, Play Framework, Kafka, and Spark. </p>
                                    </div>
                                </div>

                                <div class="timeline-box left ">
                                    <div class="timeline-container">
                                        <h3 class="subtitle"> Java Trainer Internship </h3>
                                        <h4 class="institute-name"> Dynamic Future Tech pvt. ltd. </h4>
                                        <h5 class="edu-duration"> Aug 2022 - Feb 2023 </h5>
                                        <p class="edu-description text-align-justify"> Here I was working as a Java teacher </p>
                                    </div>
                                </div>

                                <div class="timeline-box right ">
                                    <div class="timeline-container">
                                        <h3 class="subtitle"> Kotlin Training </h3>
                                        <h4 class="institute-name "> Dynamic Future Tech pvt. ltd. </h4>
                                        <h5 class="edu-duration"> June 2022 - Oct 2022 </h5>
                                        <p class="edu-description text-align-justify"> I have completed my Kotlin
                                            training from Dynamic Future Tech pvt. ltd. </p>
                                    </div>
                                </div>

                                <div class="timeline-divider">
                                    <div class="timeline-traveller">
                                        <div>
                                            <i class="fas fa-plane"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Education Section -->
            <section id="edu-section" class="animated-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 center-align">
                            <h1 class="title">Education</h1>
                            <div class="timeline">
                                <div class="timeline-box left ">
                                    <div class="timeline-container">
                                        <h3 class="subtitle"> B.E (CSE) </h3>
                                        <h4 class="institute-name"> Chandigarh University </h4>
                                        <h5 class="edu-duration"> Aug 2020 - Aug 2024 </h5>
                                        <h5 class="marks m0"> 8.51 CGPA </h5>
                                        <p class="edu-description text-align-justify"> Currently, I am pursuing my Bachelor of
                                            Engineering in Computer science with specialization in Artificial intelligence and Machine
                                            learning (AIML) from Chandigarh University. </p>
                                    </div>
                                </div>

                                <div class="timeline-box right ">
                                    <div class="timeline-container">
                                        <h3 class="subtitle"> Twelfth grade </h3>
                                        <h4 class="institute-name "> K.D.B Public School </h4>
                                        <h5 class="edu-duration"> April 2018 - April 2019 </h5>
                                        <h5 class="marks m0"> 82% </h5>
                                        <p class="edu-description text-align-justify"> I have completed my 12th from K.D.B Public
                                            School Ghaziabad with 82 percent. </p>
                                    </div>
                                </div>

                                <div class="timeline-box left ">
                                    <div class="timeline-container">
                                        <h3 class="subtitle"> Tenth grade </h3>
                                        <h4 class="institute-name "> Maples Academy </h4>
                                        <h5 class="edu-duration"> April 2016 - April 2017 </h5>
                                        <h5 class="marks m0"> 10.0 CGPA </h5>
                                        <p class="edu-description text-align-justify"> I have completed my 10th from Maples
                                            Academy Muzaffarnagar with 10.0 CGPA. </p>
                                    </div>
                                </div>

                                <div class="timeline-divider">
                                    <div class="timeline-traveller">
                                        <div>
                                            <i class="fas fa-car-side"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <br>

            <!-- Skill Section -->
            <section id="skill-section" class="animated-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title">Skills</h1>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex justify-content-around">
                                        <div class="skill-category">
                                            <h3 class="subtitle">Programming Languages</h3>
                                            <p class="skills-list">
                                                <span class="skill-dot">Java</span>
                                                <span class="skill-dot">Scala</span>
                                                <span class="skill-dot">Dart</span>
                                                <span class="skill-dot">Kotlin</span>
                                                <span class="skill-dot">C++</span>
                                                <span class="skill-dot">Python</span>
                                                <span class="skill-dot">SQL</span>
                                                <span class="skill-dot">JavaScript</span>
                                                <span class="skill-dot">HTML/CSS</span>
                                            </p>
                                        </div>
                                        <div class="skill-category">
                                            <h3 class="subtitle">Development</h3>
                                            <p class="skills-list">
                                                <span class="skill-dot">Web</span>
                                                <span class="skill-dot">Applications</span>
                                            </p>
                                        </div>
                                        <div class="skill-category">
                                            <h3 class="subtitle">Frameworks</h3>
                                            <p class="skills-list">
                                                <span class="skill-dot">Flutter</span>
                                                <span class="skill-dot">Play Framework</span>
                                                <span class="skill-dot">Android</span>
                                            </p>
                                        </div>
                                        <div class="skill-category">
                                            <h3 class="subtitle">Interpersonal Skills</h3>
                                            <p class="skills-list">
                                                <span class="skill-dot">Critical Thinking</span>
                                                <span class="skill-dot">Decision-Making</span>
                                                <span class="skill-dot">Active Listening</span>
                                                <span class="skill-dot">Adaptability and Empathy</span>
                                                <span class="skill-dot">Leadership</span>
                                                <span class="skill-dot">Teamwork and Management</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <br>

            <!-- Coding Profile Section -->
            <section id="cp-section" class="animated-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="title" style="margin-top: 20px;">Coding Profile</h1>
                            <div class="coding-profile-info">
                                <div class="coding-item">
                                    <div class="icon-container">
                                        <a href="https://auth.geeksforgeeks.org/user/abhibansal276/"><i class="fas fa-trophy cpicon"></i></a>
                                    </div>
                                    <p>Greeks For Greeks - Rank 366</p>
                                </div>
                                <div class="coding-item">
                                    <div class="icon-container">
                                        <a href="https://leetcode.com/abhi_84/"><i class="fas fa-code cpicon"></i></a>
                                    </div>
                                    <p>LeetCode - 246 Problems Solved</p>
                                </div>
                                <div class="coding-item">
                                    <div class="icon-container">
                                        <a href="https://www.codechef.com/users/abhi276"><i class="fas fa-star cpicon"></i></a>
                                    </div>
                                    <p>Codechef - ⭐⭐⭐</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Projects Section -->
            <section id="projects-section" class="animated-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title">Projects</h1>
                            <!-- Add Projects Section Content Here -->
                        </div>
                    </div>
                </div>
            </section>

            <!-- Social Links Section -->
            <section id="sociallinks-section" class="animated-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title">Social Links</h1>
                            <!-- Add Social Links Section Content Here -->
                            <ul class="social-links-list">
                                <li class="social-link-item">
                                    <a href="https://github.com/abhishekbansal276" target="_blank">
                                        <i class="fab fa-github"></i>
                                        <span>GitHub</span>
                                    </a>
                                </li>
                                <li class="social-link-item">
                                    <a href="https://www.linkedin.com/in/abhishek-bansal-606343200/" target="_blank">
                                        <i class="fab fa-linkedin"></i>
                                        <span>LinkedIn</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Contact Section -->
            <section id="contact-section" class="animated-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="title">Contact</h1>
                            <div class="contact-info">
                                <p>
                                    <i class="fas fa-envelope"></i>&nbsp;&nbsp; <a href="mailto:@yourEmailVariable" class="contact-link">@yourEmailVariable</a><br>
                                    <i class="fas fa-phone"></i>&nbsp;&nbsp; <span class="contact-link">+91 9058210133</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var sidebarLinks = document.querySelectorAll('.nav-link');

        sidebarLinks.forEach(function (link) {
            link.addEventListener('click', function () {
                sidebarLinks.forEach(function (otherLink) {
                    otherLink.classList.remove('active');
                });

                link.classList.add('active');
            });
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
